# Core
streamlit
pandas
numpy
regex

# Vector DB + Embeddings
chromadb
sentence-transformers

# LangChain + Gemini LLM
langchain
langchain-core
langchain-community
langchain-google-genai

# File formats
pyarrow
